doctype html
html(lang="en")
    head
        title NPM Scripts Demo

        meta(charset="utf-8")

        meta(name="viewport" content="width=device-width, initial-scale=1")

        script(src="head.js")

        script(src=locals['dist/main.js'].substr(5))

        if compileDebug
            script(src="//localhost:9091/livereload.js")

        script(type="text/javascript").
            head.load([{ jquery: "https://code.jquery.com/jquery-3.1.1.min.js" }, { ui: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" }], function() {
                head.ready(["jquery", "ui"], function () {

                    "use strict";

                    console.log("head now loaded!");

                    if (window.console && head.browser.chrome) {
                        console.info("jquery loaded");
                        console.log("Chrome version ", head.browser.version);
                        $("#container").find("h2").css("color", "red");
                        console.info("ui loaded");
                        $("h1").effect("pulsate", { times:3 }, 2000);
                    };
                    if (head.browser.ff) {
                        console.log("Firefox version ", head.browser.version);
                        $("#container").find("h2").css("color", "blue");
                    };
                    if (head.browser.ie && head.browser.version < 9) {
                        console.log("IE version: ", head.browser.version);
                    };
                    if (head.browser.ie && head.browser.version > 9) {
                        console.log("IE version: ", head.browser.version);
                    };

                });
            });

        link(rel="stylesheet", href=locals['dist/main.css'].substr(5))

    body
        h1 npm scripts demo
        #container
            p.
                All of this content was created using various preprocessors and
                compilers, as well as test tools and watchers, without using
                Grunt, Gulp, Brocolli, Fez, Jake, etc.
