doctype html
html(lang="en")
    head
        title NPM Scripts Demo
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        script(src=locals['dist/main.js'].substr(5))
        if compileDebug
            script(src="//localhost:9091/livereload.js")

        script(src="js/head.js")
        
        //- <script>
        //-   head.js(
        //-     { jquery: "https://code.jquery.com/jquery-3.1.1.min.js" },
        //-     { ui: "http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" }
        //-   );
        //- </script>

        link(rel="stylesheet", href=locals['dist/main.css'].substr(5))
    body
        h1 npm scripts demo
        #container
            p.
                All of this content was created using various preprocessors and
                compilers, as well as test tools and watchers, without using
                Grunt, Gulp, Brocolli, Fez, Jake, etc.

        //- <script>
        //-     head.ready("jquery", function () {
        //-     if (window.console)
        //-       console.info("jquery loaded");
        //-     });
        //-
        //-     head.ready("ui", function () {
        //-     if (window.console)
        //-       console.info("ui loaded");
        //-       head.load("css/style.css", "js/script.js");
        //-     });
        //- </script>
