// Layout styles
.col1 {
	#grid > .setGridWidths(6, 8, 3, 6);
	background-color: #630537;
}

.col2 {
	#grid > .setGridWidths(6, 2, 3, 6);
	background-color: #F0F9E3;
}

.col3 {
	#grid > .setGridWidths(12, 2, 6, 12);
	background-color: #CAD1C1;
}
