// Variables #grid > .setGridWidths().
// ---------------------------------


@column-width: 60;
@gutter-width: 20;
@columns: 12;

//@total-width: 100%;

// Layout styles
.col1 {
	#grid > .setGridWidths(6, 8, 3, 6);
	background-color: #630537;
}

.col2 {
	#grid > .setGridWidths(6, 2, 3, 6);
	background-color: #F0F9E3;

	p {
		border: 1px solid red;
		height: 40px;

		.responsive(600px, {
			border: 1px solid green;
			height: 60px;
		});
	}
}

.col3 {
	#grid > .setGridWidths(12, 2, 6, 12);
	background-color: #CAD1C1;
}

.col1,
.col2,
.col3 {
	height: 300px;
  position: relative;
  min-height: 1px;
	-webkit-transition: all 1s ease-in .2s;
    -moz-transition: 	all 1s ease-in .2s;
     -ms-transition: 	all 1s ease-in .2s;
    	-o-transition: 	all 1s ease-in .2s;
         transition: 	all 1s ease-in .2s;
}

p {
	-webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

.content {
	.responsive(1920px, {
		margin: 0 auto;
		width: 90%;
	});
  clear: both;
  overflow: hidden;
}
